@use "../abstracts/variables" as vars;
@use "../abstracts/mediamixins" as media;
@use "../abstracts/functions" as func;
@use "../abstracts/mixins" as mix;

@use "sass:map";

.card {
    height: 550px;
    min-width: 300px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    flex-basis: 0;
    flex-grow: 1;

    @include media.mobile { width: 100%; }

    &--smaller {
        height: 475px;
    }

    &--grid-item {
        min-width: initial;
        width: auto;
        padding: 0;
    }

    &__image {
        width: 100%;
        img {
            width: 100%;
        }
    }

    &__text {
        padding: 15px;
        width: 100%;
        position: relative;
        flex-grow: 1;
        overflow: hidden;
        
        &--bg-grey {
            background-color: map.get(vars.$colors, lightgrey);
        }

        &--against-edge {
            padding: 15px 0;
        }
    }

    &__date {
        font-size: func.pxtorem(14);
        margin-bottom: 10px;
    }

    &__news {
        text-transform: uppercase;
        margin: 5px 0 10px 0;
    }

    &__title {
        margin-bottom: 10px;

        h3 {
            @include mix.font(26, 600, uppercase);
        }

        &--smaller {
            h3 {
                @include mix.font(24, 500);
                margin: 0 0 10px 0;
            }
        }
    }

    &__description {
        font-size: func.pxtorem(14);
        margin-bottom: 30px;
    }

    &__type {
        font-size: func.pxtorem(14);
        color: map.get(vars.$colors, grey);
        margin-bottom: 5px;
    }

    &__button {
        @include mix.absolutePos(auto, 15px, 15px, auto);
    }  

    &__tag {
        @include mix.absolutePos(auto, auto, 15px, 15px);
        font-weight: 600;
    }
}

.event-card {
    width: 100%;
    margin-bottom: 20px;

    &:hover, &:hover h3 {
        color: map.get(vars.$colors, grey);
    }

    &__banner {
        width: 100%;

        img {
            width: 100%;
        }
    }

    &__description {
        padding: 25px;
        @include mix.font(20, 200)
    }

    &__title {
        h3 {
            @include mix.font(24, 200);
            text-transform: uppercase;
            margin: 0;
        }
    }

    &__promo {
        margin-top: 10px;
    }

    &__date {
        margin-top: 20px;
    }  
}