@use "../abstracts/variables" as vars;
@use "sass:map";

* {
    box-sizing: border-box;
}

body {
    background-color: map.get(vars.$colors, white);
}

a {
    text-decoration: none;
}

button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}