@use "../abstracts/mediamixins" as media;
@use "../abstracts/functions" as func;
@use "../abstracts/mixins" as mix;

main {
    width: 100%;

    .slider-wrapper {
        margin-top: 10px;
        padding: 0 75px;

        &--extra-padding {
            padding: 0 15%;

            @include media.mobile { padding: 0 50px; }
        }

        @include media.mobile { padding: 0 40px; }
    }

    .events-wrapper {
        margin-top: 50px;
        width: 100%;

        .events {
            padding: 0 15%;

            @include media.mobile { padding: 0 20px; }
        }
    }

    .info-section-wrapper {
        width: 100%;
        margin-top: 30px;

        .info_section {
            padding: 0 13%;

            &__link {
                h3 {
                    @include mix.font(24, 200);
                }
            }
        }
    }

    .news-wrapper {
        width: 100%;
        margin: 80px 0 50px 0;

        .news {
            padding: 0 15%;

            h2 {
                margin: 0;
                @include mix.font(24, 300)
            }

            &__container {
                margin-top: 30px;
                display: grid;
                grid-gap: 15px;
                grid-template-columns: repeat(3, minmax(0, 1fr));

                @include media.small { grid-template-columns: repeat(2, minmax(0, 1fr)); }
                @include media.mobile { grid-template-columns: 1fr; }
                @include media.large { grid-template-columns: repeat(4, minmax(0, 1fr));}

            }

        }
    }

}